.cart-item, .active-item-bottom {
	position: relative;
}

nav {
	width: 960px;
	margin: 0 auto;
	font-variant: small-caps;
	font-size: 1.5em;
	font-family: sans-serif;
	text-transform: capitalize;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	display: table;
    table-layout: fixed;
    overflow: hidden;
    text-align: center;	
}

li {
	display: table-cell;
}
li a {
	width: 100%;
}

.cart-item {
	border-top: solid;
	padding: 10px;
}

.cart-item:nth-child(odd) {
	background-color: #ffffe5;
}

.cart-item:nth-child(3n+0)
{
	background:#FEBFBF;
}

.active-item-bottom {
	padding-top: 20px;
	border-top: dotted;
}

.cart-header-title {
	color: #cc6600;
	width: 960px;
	margin: 20px auto;
}

.cart-item-list {
	width: 960px;
	margin: 0 auto;
}

a, a:visited {
	text-decoration: none;
	color: #004B91;
	font-weight: 800;
}

a:hover {
	color: #cc6600;
	text-decoration: underline;
}

.item-title:before {content: "Product - "; font-weight: 800;}

.item-price {
	position: absolute;
	right: 10px;
	text-align: right;
	top: 10px;
}

#cart-subtotal {
	position: absolute;
	right: 10px;
	font-weight: 800;
}
.subtotal {
	font-weight: 400;
	margin-left: 20px;
}